/* INDEX STYLE */


body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;  
  line-height: 1.4;
  color: #333333;
  background: $white;
  padding: em(50);

  h1 {
    font-size: rem(26px);
  }
}
