/*
╔══════════════ ೋღ☃ღೋ ══════════════╗

 ~ ~ ~ ~ ~ TYPOGRAPHY STYLES  ~ ~ ~ ~ ~

╚══════════════ ೋღ☃ღೋ ══════════════╝
*/




/********************************************
        COLOURS
********************************************/



$white: #fff;
$black: #000;


/********************************************
        FONT STACKS
********************************************/



$arial: arial, sans-serif;
$times: times, serif;


/********************************************
        TYPOGRAPHY STYLES
********************************************/


body{font: 300 100%/1 $arial;}
h1, h2, h3, h4, h5 {}
h1{
}
h2{
}
h3{
}
h4{}
h5{}
p{
}

